class Stillmac < Formula
  desc "Local, read-only macOS process and memory baseline"
  homepage "https://github.com/HYPHNLabs/StillMac"
  version "@VERSION@"
  on_macos do
    on_arm do
      url "https://github.com/HYPHNLabs/StillMac/releases/download/v#{version}/stillmac-v#{version}-darwin-arm64.tar.gz"
      sha256 "@ARM64_SHA256@"
    end
    on_intel do
      url "https://github.com/HYPHNLabs/StillMac/releases/download/v#{version}/stillmac-v#{version}-darwin-amd64.tar.gz"
      sha256 "@AMD64_SHA256@"
    end
  end
  def install
    bin.install "stillmac"
  end
  test do
    system bin/"stillmac", "doctor"
  end
end
